body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.participant-and-chat {
  height: 100vh;
  width: 330px;
  position: fixed;
  top: 0; 
  left: 0;
  overflow: scroll;
  background-color: #eeeeef;
}

.stage-container {
  height: 100vh;
  width: calc(100vw - 330px);
  margin-left: 20vh;
  margin-right: 0;
  background-color: #404853;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed;  not sure why this messes it up*/
}

.hidden {
  display: none;
}

button {
  width: 50%;
  text-justify: center;
}

img {
  border-radius: 10rem;
}


li > img {
  width: 30px;
  height: 30px;
  vertical-align: top;
}

.ul--style--general {
  padding: .5rem;
  list-style-type: none;
}

.chat-container > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 2rem;
}

.message {
  justify-self: flex-start;
}

.bold {
  font-weight: 600;
}